/* src/styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .main-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Align items to the start and end */
    align-items: center; /* Center items vertically */
  }
  
  .left-section h2 {
    margin: 0;
  }
  
  .center-section {
    text-align: center;
  }
  
  .center-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center items horizontally */
  }
  
  .center-section li {
    margin: 0 15px;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s; 
    /* Adjust card width */
    width: 500px;
    height: 650px !important; /* Set the desired height for the card */
    overflow: hidden; 
    /* Add some margin to the cards for spacing */
    margin: 10px;
  }

  .card:hover {
    transform: scale(1.05); /* Scale up the card on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow on hover */
  }
  
  
  /* Style the button inside the card */
  .card button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  
  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card button:hover {
    background-color: #0056b3; /* Change button background color on hover */
  }